{% extends "admin/layout.twig" %}
{% block title %}  {{l.pages.71}} {% endblock %}


{% block content %}


<!-- Main content -->
<div class="content-wrapper">




<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">{{l.pages.71}}</span></h1>
        </div>

        <div class="heading-elements">
           {% if posts is not empty %}
            <a href="{{ path_for('pages.create') }}" class="btn bg-blue btn-labeled heading-btn"><b>
            <i class="icon-plus3"></i></b>  create new page</a>
            
 <a href="javascript:void(0);" data-toggle="modal" data-target="#modal_iconified" class="btn bg-danger btn-labeled heading-btn"><b><i class="icon-trash"></i></b> {{l.pages.73}}</a>
                        
                        
<div id="modal_iconified" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;{{l.bulk_modal.1}}</h5>
        </div>

        <div class="modal-body">
            <div class="alert alert-info alert-styled-left text-blue-800 content-group">
                {{l.bulk_modal.2}}
                <button type="button" class="close" data-dismiss="alert">×</button>
            </div>
            {{l.bulk_modal.4}}
            <p>
            <br>
            </p>
        </div>

        <div class="modal-footer">
            <a href="{{ path_for('pages.blukdelete') }}" class="btn btn-link text-danger">
            {{l.bulk_modal.6}}</a>
            <button class="btn btn-primary" data-dismiss="modal"> {{l.bulk_modal.7}} </button>
        </div>
    </div>
</div>
</div>
		
           {% endif %} 
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
			        {% include "admin/elements/flash.twig" %}


{% if searchView != true %}
{% if posts is empty %}
			
			<style>
    .empty_state_icon {
    font-size: 176px;
    opacity: 0.1;
}
    </style>
			<div class="empty_state text-center">
			    
			<i class="icon-pencil6 empty_state_icon"></i>
		<h4> {{l.pages.74}}
		</h4>
		<a href="{{ path_for('pages.create') }}" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-plus3"></i></b>
		Create new page </a>
		
		
		
		
		
		
		
		
			</div>
{% endif %}
{% endif %}



{% if posts is not empty %}

<div class="panel panel-flat">
        <table class="table datatable">
            <thead>
                <tr>
                    <th><b>{{l.pages.79}}</b></th>
                    <th><b>{{l.pages.81}}</b></th>
                    <th class="text-center"><b>{{l.pages.82}}</b></th>
                </tr>
            </thead>
            
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>
                        {% if post.title is empty %}
                        <a href="{{path_for('pages.edit', {id : post.id})}}">{{l.pages.83}}</a>
                        {% else %}
                        <a href="{{path_for('pages.edit', {id : post.id})}}">{{ post.title}}</a>
                        {% endif %}
                    </td>
                    <td>{{post.created_at.toDateTimeString()}}</td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icon-menu9"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{path_for('pages.edit', {id : post.id})}}" class=""><i class="icon-pencil7"></i>
                                    <b>{{l.pages.85}}</b></a></li>
                                    <li><a href="{{path_for('pages.delete', {id : post.id})}}" class="text-danger"><i class="icon-trash"></i><b>{{l.pages.86}}</b></a></li>
                                     <li>
                        <a href="{{path_for('pages.duplicate', {id : post.id})}}" class="text-bg-info">
                  <i class="icon-stack-plus position-left"></i>{{l.pages.87}} 
              </a>
                        
                        </li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor  %}
            </tbody>
            
        </table>
        
    </div>




</div>
{% endif %}

</div>









{% endblock %}